<div class="container-banner">
    <img src="/assets/logo-banner.JPG" alt="banner-principal">
</div>
<div class="titulo1">
    <h1>DESTAQUES</h1>
</div>
<div class="temas">
    <div class="tema1">
        <h3>Moda Masculina</h3>
    </div>
    <div class="tema2">
        <h3>Novidades</h3>
    </div>
    <div class="tema3">
        <h3>Moda Feminina</h3>
    </div>
</div>
<div class="container">
    <div class="imagens">
        <div class="imagem1-2">
            <button><img src="/assets/imagem2.jpg" alt="imagem-de-modelos2"></button>
            <button><img src="/assets/imagem1.jpg" alt="imagem-de-modelos1"></button>
            <button><img src="/assets/imagem6.jpg" alt="imagem-de-modelos6"></button>
        </div>
        <div class="imagem3-4">
            <button><img src="/assets/imagem4.jpg" alt="imagem-de-modelos4"></button>
            <button><img src="/assets/imagem3.jpg" alt="imagem-de-modelos3"></button>
            <button><img src="/assets/imagem7.jpg" alt="imagem-de-modelos7"></button>
        </div>
    </div>
</div>