*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: black;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    
}

.nome-logo{
    color: white;
    font-size: 20px;
}

.menu-img{
    display: flex;
    height: 30px;
    width: 30px;
}

.logo{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}